// === PATTERN GAME CARD === //
.pattern-game-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0px 30px 0px;
	background-image: url("@img/RUNA/patterns/patterns-1.svg");
	background-size: cover;
	background-blend-mode: multiply;
	border-radius: rem(15);
	overflow: hidden;
	border: rem(1) solid $color-base-1;
	margin-top: rem(140);
	cursor: pointer;
	@include adaptiveValue("margin-bottom", 30, 15, 1600, 600, 1);
	transition: all 0.5s ease 0s;
	@media (max-width: $tablet) {
		margin-top: rem(55);
	}

	// = HOVER = //
	&:hover {
		transition: all 0.5s ease 0s;
	}

	// = BODY = //
	&__body {
	}
	// = HEADER = //
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__subtitle {
		width: fit-content;
		background-color: $white;
		margin: 30px 0px 20px 0px;
		padding: 8px 16px 8px 16px;
		border-radius: rem(15);
	}
	&__subtitle-white {
		width: fit-content;
		background-color: $white;
		margin: 30px 0px 20px 0px;
		padding: 8px 16px 8px 16px;
		border-radius: rem(15);

		p {
			color: $color-base-2;
		}
	}

	&__date,
	&__day,
	&__time {
		display: inline-block;
		vertical-align: middle;
		color: $color-base-2;
		font-size: rem(18);
		line-height: rem(24);
		text-transform: uppercase;
		font-weight: 400;
	}

	// = BORDERS = //
	&__border {
		display: inline-block;
		vertical-align: middle;
		color: $color-base-1;
		font-size: rem(12);
		line-height: rem(24);
		padding: 0px 5px 0px 5px;
	}
	&__x-border {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		font-weight: 700;
		font-size: rem(18);
		line-height: rem(24);
		padding: 0px 20px 0px 20px;
	}

	// = SCORE = //
	&__score {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		font-weight: 700;
		font-size: rem(24);
		line-height: rem(26);
		padding: 0px 10px 0px 10px;
	}
	&__score-dark {
		color: $color-base-2;
	}

	// = TEAMS = //
	&__teams {
		padding: 0px 20px 0px 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__team-home,
	&__team-away {
		width: rem(110);
		height: rem(110);
		border-radius: rem(100);
		background-color: $white;
		overflow: hidden;
	}

	&__team-home img,
	&__team-away img {
		padding: 14px;
	}

	// = FOOTER = //
	&__footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: rem(40);
	}

	// = TOURNAMENT & GYM = //
	&__tournament,
	&__gym {
		width: 100%;
		color: $white;
		text-align: center;
		span {
			margin: 10px 0px 0px 0px;
			font-size: 18px;
			line-height: 24px;
		}
	}
	&__tournament-dark {
		color: $color-base-2;
		span {
			margin: 10px 0px 0px 0px;
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.pattern-game-card-1 {
	background-image: url("@img/RUNA/patterns/patterns-2.svg");
	margin-top: rem(20);
	//padding: 0px 0px 40px 0px;
}
.pattern-game-card-2 {
	background-image: url("@img/RUNA/patterns/patterns-3.svg");
	margin-top: rem(20);
	//padding: 0px 0px 40px 0px;
}
